@model IEnumerable<DAL.Entities.Order>
@{
    ViewBag.Title = "Orders List";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Orders List</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "DashBoard")">Home</a>
            </li>
            <li class="active">
                <strong>Orders</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools" style="margin-top: -5px">
                        <a id="btnMakeNewOrder" class="btn btn-primary btn-sm">
                            <i class="fa fa-plus"></i> Make Order
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ibox-content">
                    <table id="tblDriversList" class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Customer Name</th>
                            <th>Customer Phone</th>
                            <th>Order Number</th>
                            <th>Time To Reach PickUpLocation</th>
                            <th>Time To Reach DropOffLocation</th>
                            <th>Order Status</th>
                            <th>Vehicle Type</th>
                            <th class="text-right" data-sort-ignore="true">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="driver_@item.Id">
                                <td>@item.CustomerName</td>
                                <td>@item.CustomerPhone</td>
                                <td>@item.OrderNumber</td>
                                <td>@item.TimeToReachPickUpLocation</td>
                                <td>@item.TimeToReachDropOffLocation</td>
                                <td>@item.OrderStatus</td>
                                <td>@item.VehicleType</td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button class="btn btn-primary btn-xs" data-title="Preview" data-id="@item.Id" id="btnPreviewDriver">
                                            <span class="fa fa-eye" title="Preview"></span>
                                        </button>
                                        <button class="btn btn-danger btn-xs" data-title="Delete" data-id="@item.Id" id="btnDeleteDriver">
                                            <span class="glyphicon glyphicon-trash" title="Delete"></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        }
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Customer Name</th>
                            <th>Customer Phone</th>
                            <th>Order Number</th>
                            <th>Time To Reach PickUpLocation</th>
                            <th>Time To Reach DropOffLocation</th>
                            <th>Order Status</th>
                            <th>Vehicle Type</th>
                            <th class="text-center" data-sort-ignore="true">Action</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



@Html.Partial("~/Views/BusinessOrder/Partials/_AddOrder.cshtml")
    
@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/plugins/toastrStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/toastr")
}


<script>

    $(function() {

        $('#tblDriversList').DataTable({
            dom: '<"' +
                'html5buttons' +
                '' +
                '"B>lTfgitp',
            buttons: [
                { extend: 'copy' },
                { extend: 'csv' },
                { extend: 'excel', title: 'OrdersList' },
                {
                    extend: 'pdf',
                    title: 'ExampleFile',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5, 6]
                    }
                },
                {
                    extend: 'print',
                    customize: function(win) {
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');
                        $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                    }
                }
            ]

        });

        $(document).on('click', "#btnMakeNewOrder", function () {
            $("#addOrderModal").modal("show");
        });

     

    });
</script>