
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox-content p-xl">
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                        <!--Ride Details -->
                        <div class="col-lg-3">
                            <h3 class="dashboard-header-textes">SET RIDE DETAILS</h3>
                            <div class="row">
                                <div id="pickPart">
                                    <div id="dropDestination" >
                                        <div class="col-lg-12 dashboard-options">
                                            <p>Type drop off destination</p>
                                        </div>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control location" id="txtDestination" value="" />
                                        </div>
                                    </div>
                                </div>
                                <div id="pickUpDestination" >
                                    <div class="col-lg-12 dashboard-options">
                                        <p>Type pick up destination</p>
                                    </div>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control location" id="txtSource" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Ride Details End-->
                        <div class="col-lg-4" style="float:right;">
                            <div class="col-lg-12">
                                <h3 class="dashboard-header-textes">
                                    ESTIMATED FARE BREAKDOWN
                                </h3>
                                <div class="row" style="margin-top:8%">
                                    <div class="col-lg-12 dashboard-options">
                                        <div><strong>Distance:</strong><span style="float:right" data-value="" id="distance"></span></div>
                                    </div>
                                    <div class="col-lg-12 dashboard-options divider"></div>
                                    <div class="col-lg-12 dashboard-options">
                                        <div><strong>Duration:</strong><span style="float:right" data-value="" id="duration"></span></div>
                                    </div>
                                    <hr />
                                </div>
                            </div>
                        </div>
                        <!--Ride Map -->
                        <div class="col-lg-5">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <h3 class="dashboard-header-textes">
                                            MAP
                                        </h3>
                                        <div class="row" style="margin-top: 40px;">
                                            <div class="col-md-12">
                                                <div id="dvMap" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="txtLatitude" value="" />
<input type="hidden" id="txtLongitude" value="" />
@section Styles {
    @Styles.Render("~/plugins/toastrStyles")
    @Styles.Render("~/plugins/sweetAlertStyles")
    <style>
        .blockUI.blockOverlay {
            position: fixed !important;
        }
    </style>
}
@section Scripts
{
    @Scripts.Render("~/plugins/chartjs")
    @Scripts.Render("~/plugins/toastr")
    @Scripts.Render("~/plugins/sweetAlert")

    <script src="~/Scripts/app/Business/businessLiveMap.js"></script>
}
<style>
    #dvMap {
        width: 100%;
        height: 400px;
    }

    .divider {
        margin-left: 15px;
        border-bottom: 1px solid #808080;
    }
</style>
