@{
    ViewBag.Title = "Profile";
}
@model DeliveryService.ViewModels.Business.PreviewBusinessModel

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="dropdown-toggle editProfileData" data-id="@Model.BusinessId" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                    </div>
                </div>
                <div class="contact-box" style="height: 295px;">
                    <a href="#">
                        <div class="col-sm-12 text-center">
                            <h1 style="margin-top: 0px;" id="fullName">
                                @Html.DisplayFor(m => m.ContactPersonFirstName) @Html.DisplayFor(m => m.ContactPersonLastName)
                            </h1>
                            <div class="text-center" style="padding-top: 20px; padding-bottom: 20px">
                                <img src="~/Documents/Business/BusinessProfile/thumbs/@Html.DisplayFor(m => m.BusinessLogo).80x80.jpg">
                            </div>
                            <h3>
                                <strong>Owner</strong>
                            </h3>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="ibox-tools">
                        <a class="dropdown-toggle" id="openEditModal" data-toggle="modal" data-target="#manageCompanyName" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>

                    </div>
                </div>
                <div class="contact-box">
                    <div class="col-sm-12">
                        <h3>
                            <strong id="partnerName">@Html.DisplayFor(m => m.BusinessName)</strong>
                        </h3>
                        <br />
                        <address>
                            <p><strong>Address:</strong><label id="businessAddress">@Html.DisplayFor(m => m.AddressForDisplay)</label> </p>
                            <p><strong>Phone:</strong><label id="businessPhone">@Html.DisplayFor(m => m.PhoneNumber)</label> </p>
                            <p><strong>Email:</strong><label id="businessEmail">@Html.DisplayFor(m => m.BusinessEmail)</label> </p>
                            <p><strong>Birth Date:</strong><label id="businessBirthDate">@Html.DisplayFor(m => m.DateOfBirth)</label> </p>
                            <p><strong>Sex:</strong><label id="businessSex">@Html.DisplayFor(m => m.Sex)</label> </p>
                            <p><strong>Contact Phone Number:</strong><label id="businessContactPhoneNumber">@Html.DisplayFor(m => m.ContactPersonPhoneNumber)</label> </p>
                        </address>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row contact-box">
        <div class="col-lg-6">
            <div class="col-sm-12 no-padding ">
                <label class="col-sm-12 control-label">
                    <span title="" data-toggle="tooltip" class="label-tooltip"
                          data-original-title="Upload  Commercial insurance Certificate">
                        Commercial insurance Certificate
                    </span>
                </label>
                <input type="text" data-filetypeid="1" id="txtCommercialinsurancecertificate" name="txtCommercialinsurancecertificate" class="doc-hidden-inputs" />
                <div class="col-sm-12 controls text-center files-uploaders" id="CommercialinsurancecertificateUploader">
                    <div id="CommercialinsurancecertificateUpload" data-controlid="Commercialinsurancecertificate" class="vehicle-fileuploads vehicle-fileuploads-active">
                        <br />
                        <span>
                            Drag & drop <br>or click here <br> to upload
                        </span>
                    </div>
                </div>
                <div class="col-sm-12 controls fileupload-preview" id="CommercialinsurancecertificateContent">
                    <div id="Commercialinsurancecertificate" class="img-wrap preview">
                        <div onclick="ConfirmDeleteDocument('Commercialinsurancecertificate');" class="close delete">&times;</div>
                        <img id="CommercialinsurancecertificateDoc">
                    </div>
                    <div class="file-exp-date">
                        <label class="lbl-exp-date">Expire date</label>
                        <label class="lbl-exp-date-error" style="display: none;">Expire date can not be less than the current date</label>
                        <div class="col-sm-10 col-xs-10 no-padding">
                            <input class="form-control no-padding exp-date-input datepicker"
                                   id="CommercialinsurancecertificateDate" name="CommercialinsurancecertificateDate" type="text">
                        </div>
                        <label class="col-sm-2 col-xs-2 btn btn-success datepicker-button " for="CommercialinsurancecertificateDate">
                            <span class="fa fa-calendar"></span>
                        </label>
                        <button class="btn btn-outline btn-primary dim save-date" id="CommercialinsurancecertificateExpDate" type="button"><i class="fa fa-check"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="col-sm-12 no-padding">
                <label class="col-sm-12 control-label">
                    <span title="" data-toggle="tooltip" class="label-tooltip"
                          data-original-title="Upload Ca Puc Permit ">
                        Ca Puc Permit
                    </span>
                </label>
                <input type="text" data-filetypeid="4" id="txtCapucpermit" name="txtCapucpermit" class="doc-hidden-inputs" />
                <div class="col-sm-12 controls text-center files-uploaders" id="CapucpermitUploader">
                    <div id="CapucpermitUpload" data-controlid="Capucpermit" class="vehicle-fileuploads vehicle-fileuploads-active">
                        <br />
                        <span>
                            Drag & drop <br>or click here <br> to upload
                        </span>
                    </div>
                </div>
                <div class="col-sm-12 controls fileupload-preview" id="CapucpermitContent">
                    <div id="Capucpermit" class="img-wrap preview">
                        <div onclick="ConfirmDeleteDocument('Capucpermit');" class="close delete">&times;</div>
                        <img id="CapucpermitDoc">
                    </div>
                    <div class="file-exp-date">
                        <label class="lbl-exp-date">Expire date</label>
                        <label class="lbl-exp-date-error" style="display: none;">Expire date can not be less than the current date</label>
                        <div class="col-sm-10 col-xs-10 no-padding">
                            <input class="form-control no-padding exp-date-input datepicker"
                                   id="CapucpermitDate" name="CapucpermitDate" type="text">
                        </div>
                        <label class="col-sm-2 col-xs-2 btn btn-success datepicker-button " for="CapucpermitDate">
                            <span class="fa fa-calendar"></span>
                        </label>
                        <button class="btn btn-outline btn-primary dim save-date" id="CapucpermitExpDate" type="button"><i class="fa fa-check"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form id="pagefileupload" method="POST" enctype="multipart/form-data" class="hidden">
    @Html.Partial("~/Views/Partials/FileUpload/_Files.cshtml")
</form>
@Html.Partial("~/Views/BusinessProfile/Partials/_BusinessProfileModal.cshtml")

    <script src="~/Scripts/app/Business/businessProfile.js"></script>
    <link href="~/Style/BusinessProfile/businessProfile.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    @section Styles {
        @Styles.Render("~/plugins/sweetAlertStyles")
        @Styles.Render("~/plugins/toastrStyles")
        @Styles.Render("~/plugins/dataPickerStyles")
    }
    @section Scripts {
        @Scripts.Render("~/plugins/sweetAlert")
        @Scripts.Render("~/plugins/toastr")
        @Scripts.Render("~/plugins/dataPicker")
    }